body {
  overflow-x: hidden;
  overflow-y: hidden;
}

img {
  width: 30px;
  height: 30px;
}

.container {
  margin:0;
  width: 100%;
}
.navbar {
  border: none !important;
  margin-top: 0px;
  padding-top: 0px;
  border-color: black;
  background-image: linear-gradient(to right, #45484d 0%, #000000 100%);
  margin-bottom: 0px;
  border-radius: 0;
}

.navbar-header,
.dropdownc,
.dropdown-toggle {
  padding-top: 10px;

  color: inherit;
}

#dropdown.dropdown-toggle {
  padding-bottom: 25px;
}

#dropdown,
#dropdown2 {
  background-color: inherit;
}

#dropdown2 {
  margin-right: 20px;
}
