#mybut {
  margin-left: 0px;
}

.def {
  width: 100%;
  display: block;
  color: white;
  border-radius: 0;
  outline: none;
  border: none;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-image: linear-gradient(to right, #45484d 0%, #000000 100%);
}

.activ,
.activ.def:hover {
  background-image: linear-gradient(45deg, #ff3d2e, #ff252c);
}

.def:active,
.def:hover {
  outline: none;
  background-image: linear-gradient(to right, gray 0%, #fcfff4 100%);
}

.Col {
  padding-left: 0px;
}