.well-custom {
  padding: 0;
  margin-bottom: 0px;
  min-height: 10px;
}

.def:active,
.def:hover,
.def:focus {
  color: white;
}

.def {
  width: 100%;
  display: block;
  color: white;
  outline: none;
  border: none;
  margin: 0;
  padding-left: 0px;
  border-radius: 0;
}

.hidden {
  visibility: hidden;
}