
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

 

.calendar_whole {
 	 font-family:  "Lucida Grande", sans-serif;
     font-size: 18px;  
     cursor: pointer;
     text-align: center;
}