.List {
  max-height: 200px;
  overflow-y: scroll;
  color:#358cae;
}

ul {
  list-style-type: none;
}

li:nth-of-type(1n+15) {
    display: none;
} 

li:nth-child(odd) {
	color: #2d9287;
}
 

li:hover {
	color: darkgray;
	cursor: pointer;
}
