.List {
  max-height: 150px;
  overflow-y: scroll;
  color: #358cae;
  font-size: 9px;
}

.List li {
  display: block;
  text-align: center;
  cursor: pointer;
}

.List ul {
  list-style-type: none;
}

.List li:nth-of-type(1n+15) {
  display: none;
}

.List li:nth-child(odd) {
  color: #2d9287;
}

.List li:hover {
  color: darkgray;
  cursor: pointer;
}