body {
  min-height: 100%;
  padding-top: 70px;
  margin-left: 0;
  margin-right: 0;
}

html {
  height: 100%;
}
 
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "menuu"
  "desc"
  "info";
}

.menuu {
  grid-area: menuu;
  min-height: 15%;
}

.desc {
  grid-area: desc;
 
}

.info {
  width: 100%;
  grid-area: info;
  min-height: 15%;
  justify-content: center;
}

@media screen and (max-width: 736px) {
  .info {
    grid-row-start: 3;
    grid-row-end: 4;
    position: fixed;
    bottom: 0;
  }
  .mobile-only {
    visibility: hidden;
  }
}


@media screen and (min-width: 736px) {
 /* .grid {
    display: grid;
    grid-template-columns: 15% 67% 18%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "menuu menuu menuu"
    "menuleft desc info";
  }
  .menuu,{
    grid-area: menuu;
  }

  .menuleft {
    grid-area: menuleft;
  }

  .desc {
    grid-area: desc;
  }

  .info {
    grid-area: info;
  }*/
  .menuu, .menuleft, .desc, .info {
    display: none;
    height: 100%;
    width: 100%;
  }

  body {
    display: block;
  }

  .mobile-only {
    display:block;
    font-size: 24px;
    text-align: center;
    color:black;
    margin: 0 auto;
  }
}