body {
  min-height: 100%;
  padding-top: 70px;
  margin-left: 0;
  margin-right: 0;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "menuu"
  "desc"
  "info";
}

.menuu {
  grid-area: menuu;
  min-height: 15%;
}

.desc {
  grid-area: desc;
  min-height: 70%;
}

.info {
  width: 100%;
  grid-area: info;
  min-height: 15%;
  justify-content: center;
  grid-row-start: 3;
  grid-row-end: 4;
  position: fixed;
  bottom: 0;
}

@media screen and (min-width: 736px) {
  .grid {
    display: grid;
    grid-template-columns: 15% 67% 18%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "menuu menuu menuu"
    "menuleft desc info";
  }
  .menuu {
    grid-area: menuu;
  }

  .menuleft {
    grid-area: menuleft;
  }

  .desc {
    grid-area: desc;
  }

  .info {
    grid-area: info;
  }
}