body {
  padding-top: 70px;
}

.grid {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "menuu menuu menuu" 
  "menuleft desc info" 
}

.menuu {
  grid-area: menuu;
}

.menuleft {
  grid-area: menuleft;
}

.desc {
  grid-area: desc;
}

.info {
  grid-area: info;
}
 