input {
  text-align: center;
}

.Utils_find-box {
  color: #f44277;
}

.row {
  margin: 0;
}

#Utils_find {
  margin: 0;
}

.li,
.ul {
  text: #f44277;
  list-style: none;
}

.form-group {
  padding-left: 0;
}

.form-control_custom {
  width: 100%;
  color: red;
  background-color: #BFEFFF;
}

.input-sm {
  height: 20px;
  width: 100%;

  padding: 0;
  font-size: 12px;
  border-radius: 3px;
}

#one {
  margin-left: -80px;
  margin-top: 5px;
}

.not {
  visibility: hidden;
}

::-webkit-scrollbar {
  display: none;
}