.MealDescription {
	margin-top: 2%;
    text-align: center;
}

h3 {
    margin: 0;
    color: #096af0;
}

p {
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    color: gray;
    margin-bottom: 10px;
}

@media screen and (min-width: 736px) { 
	.MealDescription {
		margin-top: 2%;
		text-align: left;
	}
}