.MealDescription {
  margin-top: 2%;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.MealDescription-title {
  text-align: center;
}

.description_grid {
  display: grid;
  height: calc(100vh - 210px);
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  grid-template-areas: 
  "meal-desc" 
  "meal-eaten";
}

.meal-desc {
  grid-area: meal-desc;
}

.meal-eaten {
  grid-area: meal-eaten;
}

h3 {
  margin: 0;
  color: #096af0;
}

p {
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  margin: 0;
  color: gray;
  margin-bottom: 10px;
}

@media screen and (min-width: 736px) {
  .MealDescription {
    margin-top: 2%;
    text-align: left;
  }
  .MealDescription-title {
    text-align: left;
  }
}

@media screen and (max-width: 736px) {
  .MealDescription-hint {
    margin-top: 2%;
  }
}